
<form action="<%= bands_url %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <input 
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <label>Name
    <input type="text" 
    name="band[name]" 
    value = "<%= @band.name %>"> 
    </label>
    <br>
    <br>
    <input type="submit" value="Edit band!">


</form>